/* 
*This is our custom css
*/


/*=======================================
 Common CSS
========================================*/
:root {
    --pink: #ea1a70;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    line-height: 1.5em;
}

img {
    max-width: 100%;
}


a.readmore {
    background: var(--pink);
    color: white;
    display: inline;
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
    transition: 0.5s;
}

a.readmore:hover {
    background: #510524;

}

/*=======================================
   Notice Area Style
  ========================================*/

#notice {
    background-color: #f1f3d3;
}

#notice p {
    margin: 0;
    padding: 10px 0;
    color: #490909;
    text-align: center;
    font-weight: 500;
}



/*=======================================
   Header Area Style
  ========================================*/
#header_area {
    padding: 15px 0;
    box-shadow: 0px 0px 15px #ddd;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    background: rgb(255, 255, 255);
}

#header_area .col-md-9 ul {
    font-family: "Oswald", sans-serif;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
}

#header_area .col-md-9 ul li {
    display: inline-block;
    position: relative;
}

#header_area .col-md-9 ul li a {
    color: #262626;
    padding: 20px 10px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}

#header_area .col-md-9 ul li span {
    display: block;
    color: rgb(46, 223, 78);
    font-size: 15px;
}


#header_area .col-md-9 ul li a:hover {
    background: #ea1a70;
    color: #fff;
}

/*Dropdown Menu*/
#header_area .col-md-9 ul li ul {
    background: #262626 none repeat scroll 0 0;
    left: -99999px;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 62px;
    width: 200px;
    z-index: 999999;
}

#header_area .col-md-9 ul li:hover ul {
    left: 0px;
}

#header_area .col-md-9 ul li ul li {
    display: block;
}

#header_area .col-md-9 ul li ul li a {
    color: #fff;
    padding: 8px 10px;
}

#header_area .col-md-9 ul li ul li a:hover {
    background: #ddd;
    color: #262626;
}

#header_area .col-md-9 ul li:hover a {
    background: var(--pink) color: #fff;
}

#header_area .col-md-9 ul li:hover ul li a {
    background: none;
    color: #fff;
}

/*Sub Dropdown Menu*/
#header_area .col-md-9 ul li ul ul {
    left: -99999px;
    top: 0;
    position: absolute;
}

#header_area .col-md-9 ul li:hover ul li ul {
    left: -999999px;
}

#header_area .col-md-9 ul li ul li:hover ul {
    left: 200px;
}

#header_area .col-md-9 ul li ul li:hover a {
    background: var(--pink);
    color: #fff;
}

#header_area .col-md-9 ul ul li:hover ul li a {
    background: #262626;
    color: #fff;
}

#header_area .col-md-9 ul ul li ul li a:hover {
    background: var(--pink);
    color: #fff;
}


/*------------- Header area css --------------*/
/* For left menu */
#header_area.left_menu .col-md-3 {

    order: 2;
}

#header_area.left_menu .col-md-9 {

    order: 1;
}

#header_area.left_menu .col-md-9 ul {
    text-align: left;
}

/* For center */
#header_area.center_Menu .col-md-3 {
    width: 100%;
}

#header_area.center_Menu .col-md-9 {
    width: 100%;
}

#header_area.center_Menu .col-md-9 ul ul {
    text-align: left;
}


/* Index page style */

#body_area {
    padding: 45px 0;

}

#body_area .blog_area {
    width: 100%;
    margin-bottom: 15px;
    background-color: #f6f4f5;
    padding: 10px;
    box-shadow: 0px 0px 10px #ddd;
}

#body_area .post_thumb {
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}

#body_area .post_thumb img {
    transition: 0.5s;
    width: 100%;
    display: block;
}

#body_area .post_thumb:hover img {
    transform: scale(1.1);
}

#body_area .post_details {
    width: 100%;
    overflow: hidden;
}

#body_area .post_details h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

#body_area .post_details h2 a {
    color: #262626;
    text-decoration: none;
    transition: 0.5s;
}

#body_area .post_details h2 a:hover {
    color: #ea1a70;

}

/* 
===========================
Archive Area Css
============================
*/

#archive_title,
#search_title {
    background: #ea1a70;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: sticky;
    top: 100px;
    z-index: 5;
}


/* Search title */



/* 
===========================
Sidebar  Area Css
============================
*/

#body_area .child_sidebar {
    margin-bottom: 20px;
}

#body_area .child_sidebar h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
    line-height: 1em;
}

#body_area .child_sidebar input[type='search'] {
    border: 1px solid #ddd;
    padding: 10px;
}

#body_area .child_sidebar button[type='submit'] {
    background-color: #ea1a70;
    padding: 10px;
    border: 0;
    color: white;
    margin: 0;
    transition: 0.5s;
}

#body_area .child_sidebar button[type='submit']:hover {
    background-color: #730633;
}

#body_area .child_sidebar ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#body_area .child_sidebar ul li a {
    color: #262626;
    text-decoration: none;
}

#body_area .child_sidebar ul li a:hover {
    color: #9a0a84;
    text-decoration: none;
    display: inline-block;
}

#body_area .child_sidebar a.tag-cloud-link {
    background: #262626;
    color: white;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
}

#body_area .child_sidebar a.tag-cloud-link:hover {
    background: #ea1a70;
}



/* 
===========================
Navigation  Area Css
============================
*/

#page_nav p.pages {
    background-color: #ea1a70;
    color: #ffffff;
    padding: 10px 5px;
}

#page_nav p.pages span {
    display: inline-block;
    padding: 0px 5px;
}


#page_nav .page-numbers {
    background: #ea1a70;
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 5px;
    transition: 0.5s;
    text-decoration: none;
}

#page_nav .page-numbers.current,
#page_nav .page-numbers:hover {
    background-color: #510524
}



/*===========================================
  Error page Styling
===========================================*/

#error_page {
    text-align: center;
}

#error_page p {
    color: #ea1a70;
}

#error_page h1 {
    margin-bottom: 30px;
}

#s {
    border: 1px solid #dddd;
}

#searchsubmit {
    background: #ea1a70;
    border: 1px solid #ea1a70;
    color: white;
    margin-bottom: 10px;
    transition: 0.5s;
}

#searchsubmit:hover {
    background: #5e052a;
    border-color: #5e052a;

}

#error_page .error_search_form {
    margin-bottom: 20px;
}

.homepage {
    background: #ea1a70;
    color: white;
    margin-bottom: 10px;
    transition: 0.5s;
    padding: 10px;
    text-transform: uppercase;

}

.homepage:hover {
    background: rgb(99, 6, 54);
    text-decoration: none;
    color: white;

}

/*===========================================
  Footer Area Styling
===========================================*/
#footer {
    background: #292929;
    padding: 40px 0 20px;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#footer .child_sidebar h3 {
    border-left: 4px solid #ea1a70;
    padding-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#footer .child_sidebar ul {
    list-style: none;
}

#footer .child_sidebar ul ul {
    display: none;
}

#footer .child_sidebar ul li a {
    color: rgb(255, 255, 255);
}

#menu-menu-1 {
    list-style: none;
}

#footer .wp-element-button {
    background: #ea1a70;
    border: none;
    color: white;
    transition: 0.5s;
    position: relative;
    right: 20px;
}

#footer .wp-element-button:hover {
    background: #840439;
}


/*===========================================
    Copyright Area Styling
  ===========================================*/
#copyright_area {
    background: #292929;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

#copyright_area p {
    margin: 0;
    color: #fff;
    font-size: 15px;
}

#copyright_area p a {
    color: #ffffff;
}

#copyright_area p a:hover {
    color: #ea1a70;
    text-decoration: underline;

}